.important-info {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin: 48px auto 0 auto;
	color: #c00;
}
.main-title {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 32px;
	margin-top: 24px !important;
	color: #c00;
    margin-bottom: 40px !important;
}

.component-row {
	display: flex;
	gap: 24px;
	width: 100%;
	box-sizing: border-box;
}
.component-row-center {
	display: flex;
	gap: 24px;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}
.component-half {
	flex: 1 1 0;
	min-width: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
